@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-slate-900 dark:text-slate-100;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
